<footer class="footer">
  <div class="content has-text-centered">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>

  <div>
<br><br>
    <div class="field" style="margin-top: -60px;">
    <a href="localhost:4200"><img src="/assets/images/logo22.png" alt="" width="80px" height="20px" style="margin-left: -20px;"></a>
     <p style="font-weight: bold; font-size: 20px; margin-top: -20px; margin-left: -20px; color: orange;">Terubet.com</p>
    <div class="control has-icons-left has-icons-right">
     <p>About Us</p>
     <p>Our Service</p>
     <p>Our Service</p>
      </div>
    </div>
  </div>
        </div>
      </div>
        <br><br><br>
      <div class="level-item has-text-centered">
        <div style="margin-top: -60px;">
          <h2 class="heading">Privacy and public</h2>
          <p>Term-Use</p>
          <p>Private Statement</p>
          <p>3,456</p>
          <div class="row mobile-icons">
            <a href="#"><img src="/assets/images/facebook_yellow-4.png" alt="facebook" width="50px"></a>
            <a href="#"><img src="/assets/images/telegram_yellow.png" alt="facebook" width="50px"></a>
            <a href="#"><img src="/assets/images/tweet_yellow-3.png" alt="facebook" width="50px"></a>
            <a href="#"><img src="/assets/images/insta_yellow.png" alt="facebook" width="50px"></a>
          </div>
        </div>
      </div>
        <br>
      <div class="level-item has-text-centered">
        <div>

          <div class="field" style="margin-top: -10px;">
            <h2 class="heading ">Contact Us</h2>
            <div class="control has-icons-left has-icons-right">
              <input class="input " type="email" placeholder="example@gmail.com">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope fa-xs"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check fa-xs"></i>
              </span>
            </div>
          </div>

          <div class="field is-horizontal">

            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-grouped">
            <p class="control">
              <a class="button">
               send message
              </a>
            </p>

          </div>
        </div>
      </div>
    </nav>
    <br>
    <div class="copy-right">
      <strong>Terubet</strong> by <a href="https://terubet.com">Terubet.com</a>. <br>
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </div>
  </div>
</footer>
