.copy-right{
  margin-bottom: -90px;
  color: black;
  background-color: rgba(201, 201, 201, 0.3);
}
.footer{
  background-color: whitesmoke;
}
.heading{
  color: black;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.title{
  color: black;
  font-size: 12px;
}

.button{
 background-color: rgb(250, 183, 0);
 border-radius: 5px;
}
a {
    color: rgb(1, 163, 164);
    cursor: pointer;
    text-decoration: none;
}
