<app-nav-bar></app-nav-bar>
<br><br>
<div class="container">
  <div class="row mb-5">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12 mb-4">
          <img alt="" class="img-thumbnail p-0 border-0"
            src="https://images.unsplash.com/photo-1568702846914-96b305d2aaeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
        </div>
        <div class="col-md-3 mb-4">
          <img alt="" class="img-thumbnail p-0 border-0"
            src="https://images.unsplash.com/photo-1568702846914-96b305d2aaeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
        </div>
        <div class="col-md-3 mb-4">
          <img alt="" class="img-thumbnail p-0 border-0"
            src="https://images.unsplash.com/photo-1568702846914-96b305d2aaeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
        </div>
        <div class="col-md-3 mb-4">
          <img alt="" class="img-thumbnail p-0 border-0"
            src="https://images.unsplash.com/photo-1568702846914-96b305d2aaeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
        </div>
        <div class="col-md-3 mb-4">
          <img alt="" class="img-thumbnail p-0 border-0"
            src="https://images.unsplash.com/photo-1568702846914-96b305d2aaeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h1>Apple iPhone 10 Pro Max</h1>
          <p class="m-0">
            <i class="fa fa-star fa-sm"></i>
            <i class="fa fa-star fa-sm"></i>
            <i class="fa fa-star fa-sm"></i>
            <i class="fa fa-star fa-sm"></i>
            <i class="fa fa-star fa-sm"></i>
          </p>
          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item pl-0 pr-0 pt-2 pb-2">Brand: <a href="#">Apple</a></li>
            <li class="list-group-item pl-0 pr-0 pt-2 pb-2">Model: 10 Pro Max</li>
            <li class="list-group-item pl-0 pr-0 pt-2 pb-2">Reward Points: 543</li>
            <li class="list-group-item pl-0 pr-0 pt-2 pb-2">Availability: In Stock</li>
            <li class="list-group-item pl-0 pr-0 pt-2 pb-2">Price in reward points: 400</li>
            <li class="list-group-item pl-0 pr-0">
              <p class="m-0 h2">$1.827,82 <small><s>$2.127,82</s></small></p>
              <p class="m-0 text-muted">Ex Tax: $1.549,00</p>
            </li>
            <li class="list-group-item pl-0 pr-0 pt-2 pb-2">Market Price: $1.134,82</li>

          </ul>
          <div class="input-group input-group-lg mb-4">
            <input type="number" class="form-control text-center" placeholder="Quantity" id="" name="" value="1" min="1"
              max="5" />
            <div class="input-group-append">
              <span class="input-group-text">Quantity</span>
            </div>
          </div>
          <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">
              <i class="fa fa-cart-plus"></i>
              <span>Add Cart</span>
            </button>
            <button type="button" class="btn btn-secondary"><i class="fa fa-shopping-cart"></i></button>
            <button type="button" class="btn btn-secondary"><i class="fa fa-heart"></i></button>
            <button type="button" class="btn btn-secondary"><i class="fa fa-exchange-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
