<div class="row" style="margin-left: 20px;">
  <h2 class="header-title">All Category</h2>
  <section class="color-5">
<div class="cl-effect-12">
  <a href="#">All Views</a>
</div>
  </section>

</div>
<div class="row"  style="margin-left: 5px; ">
  <div class="w3-section">
    <div class="w3-card-4">
      <div class="badge"><div class="product-price"><small>$96.00</small>$230.99</div></div>
      <img src="/assets/images/Products/apple.jpg" class="img-fluid img-thumbnail">
        <div class="product-details">
          <span class="product-catagory">Women,bag</span>
          <h3><a href="">Women leather bag</a></h3>

        </div>
    </div>
  </div>


  <div class=" w3-section">
    <div class="w3-card-4">
      <div class="badge">
        <div class="product-price"><small>$96.00</small>$230.99</div>
      </div>
      <img src="/assets/images/Products/House.jpg" class="img-responsive" >
      <div class="product-details">
          <span class="product-catagory">Women,bag</span>
          <h3><a href="">Women leather bag</a></h3>

        </div>
    </div>
  </div>

  <div class="w3-section">
    <div class="w3-card-4">
      <div class="badge">
        <div class="product-price"><small>$96.00</small>$230.99</div>
      </div>
      <img src="/assets/images/Products/jacket.jpg" class="img-responsive" >
      <div class="product-details">
        <span class="product-catagory">Women,bag</span>
        <h3><a href="">Women leather bag</a></h3>

      </div>
    </div>
  </div>

  <div class=" w3-section">
    <div class="w3-card-4">
      <div class="badge">
        <div class="product-price"><small>$96.00</small>$230.99</div>
      </div>
      <img src="/assets/images/Products/TV.jpg" class="img-responsive" >
    <div class="product-details">
      <span class="product-catagory">Women,bag</span>
      <h3><a href="">Women leather bag</a></h3>

    </div>
    </div>
  </div>

<div class=" w3-section">
  <div class="w3-card-4">
    <div class="badge"><div class="product-price"><small>$96.00</small>$230.99</div></div>
    <img src="/assets/images/Products/apple.jpg" class="img-responsive" >
    <div class="product-details">
      <span class="product-catagory">Women,bag</span>
      <h3><a href="">Women leather bag</a></h3>

    </div>
  </div>
</div>

<div class=" w3-section" >
  <div class="w3-card-4">
    <div class="badge"><div class="product-price"><small>$96.00</small>$230.99</div>
    </div>
    <img src="/assets/images/Products/House.jpg" class="img-responsive" >
    <div class="product-details">
      <span class="product-catagory">Women,bag</span>
      <h3><a href="">Women leather bag</a></h3>

    </div>
  </div>
</div>

<div class=" w3-section" >
  <div class="w3-card-4">
    <div class="badge">
      <div class="product-price"><small>$96.00</small>$230.99</div>
      </div>
    <img src="/assets/images/Products/jacket.jpg" class="img-responsive" >
    <div class="product-details">
      <span class="product-catagory">Women,bag</span>
      <h3><a href="">Women leather bag</a></h3>

    </div>
  </div>
</div>

<div class=" w3-section" >
  <div class="w3-card-4">
    <div class="badge">
      <div class="product-price"><small>$96.00</small>$230.99</div>
    </div>
    <img src="/assets/images/Products/TV.jpg" class="img-responsive" >
  <div class="product-details">
    <span class="product-catagory">Women,bag</span>
    <h3><a href="">Women leather bag</a></h3>

  </div>
  </div>
</div>

<div class="w3-section">
  <div class="w3-card-4">
    <div class="badge">
      <div class="product-price"><small>$96.00</small>$230.99</div>
    </div>
    <img src="/assets/images/Products/apple.jpg" class="img-responsive" >
    <div class="product-details">
      <span class="product-catagory">Women,bag</span>
      <h3><a href="">Women leather bag</a></h3>

    </div>
  </div>
</div>

<div class=" w3-section">
  <div class="w3-card-5">
    <div class="badge">
      <div class="product-price"><small>$96.00</small>$230.99</div>
    </div>
    <img src="/assets/images/Products/House.jpg" class="img-responsive" >
    <div class="product-details">
      <span class="product-catagory">Women,bag</span>
      <h3><a href="">Women leather bag</a></h3>

    </div>
  </div>
</div>

<div class="w3-section">
  <div class="w3-card-5">
    <div class="badge">
      <div class="product-price"><small>$96.00</small>$230.99</div>
    </div>
    <img src="/assets/images/Products/jacket.jpg" class="img-responsive" >
    <div class="product-details">
      <span class="product-catagory">Women,bag</span>
      <h3><a href="">Women leather bag</a></h3>

    </div>
  </div>
</div>

<div class=" w3-section">
  <div class="w3-card-4">
    <div class="badge">
      <div class="product-price"><small>$96.00</small>$230.99</div>
    </div>
    <img src="/assets/images/Products/TV.jpg" class="img-responsive">
    <div class="product-details">
      <span class="product-catagory">Women,bag</span>
      <h3><a href="">Women leather bag</a></h3>

    </div>
  </div>
</div>

</div>
