<div class="row" >
  <div class=" w3-section col-sm-2" style="height: 350px;" >
    <div class="w3-card-4">
      <img src="/assets/images/Products/apple.jpg" style="width:100% ; padding-left:20px">
        <div class="product-details">
          <span class="product-catagory">Women,bag</span>
          <h3><a href="">Women leather bag</a></h3>
          <div class="product-bottom-details">
            <div class="product-price"><small>$96.00</small>$230.99</div>
            <div class="product-links">
              <a href=""><i class="fa fa-heart"></i></a>
              <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class=" w3-section col-sm-3" style="height: 420px;">
    <div class="w3-card-5">
      <img src="/assets/images/Products/House.jpg" style="width:100%">
      <div class="w3-container w3-white">
        <h4><strong></strong></h4>
        <p class="text-body"></p>
        <button type="button" class="btn btn-primary read-more" data-toggle="modal" data-target="#myModal">
          Read More
        </button>
      </div>
    </div>
  </div>

  <div class=" w3-section col-sm-3" style="height: 420px;">
    <div class="w3-card-5">
      <img src="/assets/images/Products/jacket.jpg" style="width:100%; height:300px">
      <div class="w3-container w3-white">
        <h4><strong></strong></h4>
        <p class="text-body"></p>
        <button type="button" class="btn btn-primary read-more" data-toggle="modal" data-target="#myModal">
          Read More
        </button>
      </div>
    </div>
  </div>

  <div class=" w3-section col-sm-3" style="height: 420px;">
    <div class="w3-card-4">
      <img src="/assets/images/Products/TV.jpg" style="width:100%">
      <div class="w3-container w3-white">
        <h4><strong></strong></h4>
        <p class="text-body"></p>
        <button type="button" class="btn btn-primary read-more" data-toggle="modal" data-target="#myModal">
          Read More
        </button>
      </div>
    </div>
  </div>

<div class=" w3-section col-sm-3" style="height: 420px;">
  <div class="w3-card-4">
    <img src="/assets/images/Products/apple.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><strong></strong></h4>
      <p class="text-body"></p>
      <button type="button" class="btn btn-primary read-more" data-toggle="modal" data-target="#myModal">
        Read More
      </button>
    </div>
  </div>
</div>

<div class=" w3-section col-sm-3" style="height: 420px;">
  <div class="w3-card-4">
    <img src="/assets/images/Products/House.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><strong></strong></h4>
      <p class="text-body"></p>
      <button type="button" class="btn btn-primary read-more" data-toggle="modal" data-target="#myModal">
        Read More
      </button>
    </div>
  </div>
</div>

<div class=" w3-section col-sm-3" style="height: 420px;">
  <div class="w3-card-4">
    <img src="/assets/images/Products/jacket.jpg" style="width:100%; height:300px">
    <div class="w3-container w3-white">
      <h4><strong></strong></h4>
      <p class="text-body"></p>
      <button type="button" class="btn btn-primary read-more" data-toggle="modal" data-target="#myModal">
        Read More
      </button>
    </div>
  </div>
</div>

<div class=" w3-section col-sm-3" style="height: 420px;">
  <div class="w3-card-4">
    <img src="/assets/images/Products/TV.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><strong></strong></h4>
      <p class="text-body"></p>
      <button type="button" class="btn btn-primary read-more" data-toggle="modal" data-target="#myModal">
        Read More
      </button>
    </div>
  </div>
</div>
</div>