<div class="contentDiv" id="content">
<app-header></app-header>
<app-nav-bar></app-nav-bar>
  <br>
  <app-recent-product></app-recent-product>

  <!-- Start Small Banner  -->
  <section class="small-banner section">
    <div class="container-fluid">
      <div class="row">
        <!-- Single Banner  -->
        <div class="col-lg-4 col-md-6 col-12  ">
          <div class="single-banner shadow-lg p-3 mb-5 bg-white rounded">
            <img src="https://via.placeholder.com/600x370" alt="#">
            <div class="content">
              <p>Man's Collectons</p>
              <h3>Summer travel <br> collection</h3>
              <a href="#">Discover Now</a>
            </div>
          </div>
        </div>
        <!-- /End Single Banner  -->
        <!-- Single Banner  -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-banner shadow-lg p-3 mb-5 bg-white rounded">
            <img src="https://via.placeholder.com/600x370" alt="#">
            <div class="content">
              <p>Bag Collectons</p>
              <h3>Awesome Bag <br> 2020</h3>
              <a href="#">Shop Now</a>
            </div>
          </div>
        </div>
        <!-- /End Single Banner  -->
        <!-- Single Banner  -->
        <div class="col-lg-4 col-12">
          <div class="single-banner tab-height shadow-lg p-3 mb-5 bg-white rounded">
            <img src="https://via.placeholder.com/600x370" alt="#">
            <div class="content">
              <p>Flash Sale</p>
              <h3>Mid Season <br> Up to <span>40%</span> Off</h3>
              <a href="#">Discover Now</a>
            </div>
          </div>
        </div>
        <!-- /End Single Banner  -->
      </div>
    </div>
  </section>
  <!-- End Small Banner -->
  <div class="container">
    <hr class="hr-text" data-content="All Products">
  </div>
  <app-product-view></app-product-view>
<div class="container blogboard">
  <hr class="hr-text" data-content="Blog Board">
</div>
<app-blog-board></app-blog-board>

  <app-all-category-view></app-all-category-view>

  <app-footer></app-footer>

  <button class="back-to-top" type="button"></button>

</div>
