<app-nav-bar></app-nav-bar>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-6">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box home-side">
          <!-- Put any content you want -->
        <app-sidebar></app-sidebar>
        </article>
      </div>

      <div class="tile is-parent is 9 news">
        <article class="tile is-child box is-ancestor news">
          <!-- Put any content you want -->
          <app-news-list></app-news-list>
        </article>
      </div>
    </div>

  </div>

</div>
<app-footer></app-footer>
