<div class="container is-fullhd ">
  <!-- Main container -->
  <div class="notification">
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-3">
           <a href="localhost:4200">
             <img src="/assets/images/logo1.png" alt="logo" width="120">
            </a>
          </p>
        </div>
        <div class="level-item">
          <div class="field has-addons">
            <p class="control ">
              <input class="input " type="text" placeholder="Find a post">
            </p>
            <p class="control">
              <button class="button">
                Search
              </button>
            </p>
          </div>
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <div class="row mobile-icons">
          <a href="#"><img src="/assets/images/facebook_yellow-4.png" alt="facebook" width="50px"></a>
          <a href="#"><img src="/assets/images/telegram_yellow.png" alt="facebook" width="50px"></a>
          <a href="#"><img src="/assets/images/tweet_yellow-3.png" alt="facebook" width="50px"></a>
          <a href="#"><img src="/assets/images/insta_yellow.png" alt="facebook" width="50px"></a>
        </div>
      </div>
    </nav>
<nav class="navbar container is-fullhd" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="localhost:4200">
      <img src="/assets/images/logo1.png" width="50" height="50">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="true" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      
      <a class="navbar-item">
        Item 1
      </a>
      <a class="navbar-item">
        Item 2
      </a>
      <a class="navbar-item">
        Item 3
      </a>
      <a class="navbar-item">
        Item 4
      </a>
      <a class="navbar-item">
        Item 5
      </a>
      <a class="navbar-item">
        Item 6
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Item 7
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Item 1
          </a>
          <a class="navbar-item">
           Item 2
          </a>
          <a class="navbar-item">
           Item 3
          </a>
          <a class="navbar-item">
          Item 4 Item 4 Item 4
          </a>

        </div>
      </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Item 8
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Item 1
            </a>
            <a class="navbar-item">
              Item 2
            </a>
            <a class="navbar-item">
              Item 3
            </a>
            <a class="navbar-item">
              Item 4 Item 4 Item 4
            </a>

          </div>
        </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Item 9
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                Item 1
              </a>
              <a class="navbar-item">
                Item 2
              </a>
              <a class="navbar-item">
                Item 3
              </a>
              <a class="navbar-item">
                Item 4 Item 4 Item 4
              </a>

            </div>
          </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger" href="/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-info" href="/login">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
  </div>
</div>
<!-- body content -->
