.container{
 background-color: rgb(250, 183, 0);
 max-width: 100%;

}
.navbar-item{
   font-size: 15px;
   background-color: rgb(250, 183, 0);
}
.navbar-dropdown{
   background-color: rgb(250, 183, 0);
}
.mobile-icons
{
  padding-left: 40px;
}
.button{
  background-color: rgb(250, 183, 0);
}
