

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


// mobile reso
@media screen and (min-width: 600px) {

$card-width: 300px;
$card-gap: 10px;
$card-total-width: $card-width + $card-gap;
$cards-quantity: 8;
$cards-speed: 50s;


.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
    max-width: 100%;
    height: auto;
}
.cards {
  overflow: hidden;
  .cards__list {
    display: flex;
    align-items: stretch;
    align-content: center;
    align-self: center;
    width: $card-total-width * $cards-quantity;
    padding: 0;

    @include clearfix;

    &:hover .card{
      -webkit-animation-play-state:paused;
      -moz-animation-play-state:paused;
      animation-play-state:paused;
    }

    li {
      float: left;
    }
  }
  .card {
    width: $card-width;
    animation-duration: $cards-speed;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
    margin: 0 $card-gap 0 0;
    $card-padding: 0px;
    overflow: hidden;
    padding: $card-padding;


    & > a {
      color: inherit !important;
    }

  }
}

.product-img{
  width: auto;
  height: 200px;
}


.shop-card {

  width: 300px;
  background: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0,0,0,.3);
  overflow: hidden;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  z-index: 2;
  height: 300px;
  figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline: none!important;

    & img {
      margin: -95px 0 -60px;
      width: 100%;
    }
  }

  .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    color: #23211f;
    margin-bottom: 5px;
  }

  .desc {
    font-size: 14px;
    opacity: .6;
    margin-bottom: 3px;
  }

  .cta {
    padding: 20px 20px 5px;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }


}
.recent-img{
  height: 320px;
}
// Creating animations for each cards
$i: $cards-quantity;
@while $i > 0 {
  #slide-card-#{$i} {
    animation-name: cardslide-#{$i};
  }

  @-webkit-keyframes cardslide-#{$i} {

    // Creating percentages based on cards quantity
    $j: $cards-quantity;
    $moved: false;
    @while $j > 0 {
      $percentage: (100 / $cards-quantity) * ($cards-quantity - $j);

      @if $moved == false {
        #{$percentage}% {
          transform: translateX(- $card-total-width * ($cards-quantity - $j));
        }
        @if ($cards-quantity - $j) == $i {
          #{$percentage + 0.01}% {
            transform: translateX($card-total-width * ($cards-quantity - ($cards-quantity - $j)));
          }
          $moved: true;
        }
      } @else {
        #{$percentage}% {
          transform: translateX($card-total-width * $j);
        }
      }

      $j: $j - 1;
    }
    @if $i == $cards-quantity {
      99.99% {
        transform: translateX(- $cards-quantity * $card-total-width);
      }
    }

    100% {
      transform: translateX(0);
    }
  }

  $i: $i - 1;
}

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

$card-width: 150px;
$card-gap: 5px;
$card-total-width: $card-width + $card-gap;
$cards-quantity: 8;
$cards-speed: 50s;

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
    max-width: 100%;
    height: auto;
}
.cards {
  overflow: hidden;
  .cards__list {
    display: flex;
    align-items: stretch;
    align-content: center;
    align-self: center;
    width: $card-total-width * $cards-quantity;
    padding: 0;
    @include clearfix;

    &:hover .card{
      -webkit-animation-play-state:paused;
      -moz-animation-play-state:paused;
      animation-play-state:paused;
    }

    li {
      float: left;
    }
  }
  .card {
    width: $card-width;
    animation-duration: $cards-speed;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
    margin: 0 $card-gap 0 0;
    $card-padding: 0px;
    overflow: hidden;

    padding: $card-padding;


    & > a {
      color: inherit !important;
    }

  }
}

.product-img{
  width: auto;
  height: 90px;
}


.shop-card {

  width: 150px;
  background: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0,0,0,.3);
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  z-index: 2;
  height: 150px;
  figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline: none!important;

    & img {
      margin: -95px 0 -60px;
      width: 80%;
    }
  }

  .title {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    color: #23211f;
    margin-bottom: 1px;
  }

  .desc {
    font-size: 10px;
    opacity: .8;
    margin-bottom: 1px;
  }

  .cta {
    padding: 10px 10px 0px;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }


}

// Creating animations for each cards
$i: $cards-quantity;
@while $i > 0 {
  #slide-card-#{$i} {
    animation-name: cardslide-#{$i};
  }

  @-webkit-keyframes cardslide-#{$i} {

    // Creating percentages based on cards quantity
    $j: $cards-quantity;
    $moved: false;
    @while $j > 0 {
      $percentage: (100 / $cards-quantity) * ($cards-quantity - $j);

      @if $moved == false {
        #{$percentage}% {
          transform: translateX(- $card-total-width * ($cards-quantity - $j));
        }
        @if ($cards-quantity - $j) == $i {
          #{$percentage + 0.01}% {
            transform: translateX($card-total-width * ($cards-quantity - ($cards-quantity - $j)));
          }
          $moved: true;
        }
      } @else {
        #{$percentage}% {
          transform: translateX($card-total-width * $j);
        }
      }

      $j: $j - 1;
    }
    @if $i == $cards-quantity {
      99.99% {
        transform: translateX(- $cards-quantity * $card-total-width);
      }
    }

    100% {
      transform: translateX(0);
    }
  }

  $i: $i - 1;
}

}
