<div class="row" style="margin-left: 20px;">
  <h2>Recent</h2>
</div>
<section class="cards">
  <ul class="cards__list">
    <li id="slide-card-1" class="card">

    <div class="w3-card-4">
  <div class="shop-card">
    <div class="title">
      Nike Metcon 2
    </div>
    <div class="desc">
      Men's training shoe
    </div>
    <div class="slider">

        <img src="http://images.nike.com/is/image/DotCom/PDP_COPY/NIKE-METCON-2-819899_007_A_PREM.jpg" class="img-responsive"/>

    </div>
  </div>
     </div>
    </li>
    <li id="slide-card-2" class="card">
      <div class="w3-card-4">
        <div class="shop-card">
          <div class="title">
            Nike Metcon 2
          </div>
          <div class="desc">
            Men's training shoe
          </div>
          <div class="slider">

              <img src="/assets/images/Products/House.jpg" class="img-responsive" />

          </div>

        </div>
      </div>

    </li>
    <li id="slide-card-3" class="card">
      <div class="w3-card-4">
        <div class="shop-card">
          <div class="title">
            Nike Metcon 2
          </div>
          <div class="desc">
            Men's training shoe
          </div>
          <div class="slider">

              <img src="/assets/images/Products/House.jpg"  class="img-responsive" />

          </div>

        </div>
      </div>
    </li>
    <li id="slide-card-4" class="card">

      <div class="w3-card-4">
        <div class="shop-card">
          <div class="title">
            Nike Metcon 2
          </div>
          <div class="desc">
            Men's training shoe
          </div>
          <div class="slider">

              <img src="/assets/images/Products/TV.jpg" class="img-responsive" />

          </div>

        </div>
      </div>
    </li>
    <li id="slide-card-5" class="card">
      <div class="w3-card-4">
        <div class="shop-card">
          <div class="title">
            Nike Metcon 2
          </div>
          <div class="desc">
            Men's training shoe
          </div>
          <div class="slider">
           
              <img src="/assets/images/Products/House.jpg" class="img-responsive" />

          </div>

        </div>
      </div>
    </li>
    <li id="slide-card-6" class="card">
      <div class="w3-card-4">
        <div class="shop-card">
          <div class="title">
            Nike Metcon 2
          </div>
          <div class="desc">
            Men's training shoe
          </div>
          <div class="slider">

              <img src="/assets/images/Products/TV.jpg"  class="img-responsive" />

          </div>

        </div>
      </div>
    </li>
    <li id="slide-card-7" class="card">
        <div class="w3-card-4">
          <div class="shop-card">
            <div class="title">
              Nike Metcon 2
            </div>
            <div class="desc">
              Men's training shoe
            </div>
            <div class="slider">

                <img src="http://images.nike.com/is/image/DotCom/PDP_COPY/NIKE-METCON-2-819899_007_A_PREM.jpg"
                 class="img-responsive" />

            </div>

          </div>
        </div>
    </li>
    <li id="slide-card-8" class="card">
        <div class="w3-card-4">
          <div class="shop-card">
            <div class="title">
              Nike Metcon 2
            </div>
            <div class="desc">
              Men's training shoe
            </div>
            <div class="slider">

                <img src="/assets/images/Products/House.jpg" class="img-responsive" />

            </div>

          </div>
        </div>
    </li>
  </ul>
</section>
