.navbar.is-fixed-top {
    top: 0px;
}

.navbar.is-fixed-bottom, .navbar.is-fixed-top {
    left: 0px;
    position: fixed;
    right: 0px;
    z-index: 30;
}

.navbar.has-shadow {
    box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem;
}
@media screen and (min-width: 1024px){

  .navbar {
      min-height: 4.3rem;
  }
}

@media screen and (min-width: 1024px){
  .navbar, .navbar-end, .navbar-menu, .navbar-start {
      -webkit-box-align: stretch;
      align-items: stretch;
      display: flex;
  }
}
.navbar {
    background-color: rgb(250, 183, 0);
    min-height: 4.3rem;
    position: relative;
    z-index: 30;
}
.has-text-centered {
    text-align: center !important;
}
a {
    color: rgb(1, 163, 164);
    cursor: pointer;
    text-decoration: none;
}
small {
    font-size: 0.875em;
}
.button.is-text {
    background-color: transparent;
    color: rgb(74, 74, 74);
    border-color: transparent;
    text-decoration: underline;
}

.footer {
    background-color: rgb(250, 250, 250);
    padding: 3rem 1.5rem 6rem;
}
.button{
 background-color: rgb(250, 183, 0);
 border-radius: 5px;
}
.button:hover{
  background-color: red;
}
