<section class="we-offer-area text-center bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="site-heading text-center">
          <h2 class="category-title">All <span> Category</span></h2>
        </div>
      </div>
    </div>
    <div class="row our-offer-items less-carousel">
      <!-- Single Item -->
      <div class="col-md-3 col-sm-4 equal-height">
        <div class="item">
          <i class="fa fa-television"></i>
          <h4 class="product-title">Electronics</h4>
          <p>
            tittle..
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-3 col-sm-4  equal-height">
        <div class="item">
          <i class="lnr lnr-car"></i>
          <h4 class="product-title">Vehicles</h4>
          <p>
            tittle..
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-3 col-sm-4  equal-height">
        <div class="item">
          <i class="lnr lnr-shirt"></i>
          <h4 class="product-title">Fashion</h4>
          <p>
            tittle..
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-3 col-sm-4 equal-height">
        <div class="item">
          <i class="lnr lnr-picture"></i>
          <h4 class="product-title">Collectibles & Art</h4>
          <p>
            tittle..
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-3 col-sm-4  equal-height">
        <div class="item">
          <i class="lnr lnr-leaf"></i>
          <h4 class="product-title">Home & Garden</h4>
          <p>
            tittle..
          </p>
        </div>
      </div>
      <!-- End Single Item -->

      <!-- Single Item -->
      <div class="col-md-3 col-sm-4  equal-height">
        <div class="item">
          <i class="lnr lnr-bicycle"></i>
          <h4 class="product-title">Sporting Goods</h4>
          <p>
            tittle..
          </p>
        </div>
      </div>
      <!-- End Single Item -->
      <!-- Single Item -->
      <div class="col-md-3 col-sm-4  equal-height">
        <div class="item">
          <i class="lnr lnr-bug"></i>
          <h4 class="product-title">Toys and kids</h4>
          <p>
            tittle..
          </p>
        </div>
      </div>
      <!-- End Single Item -->
      <!-- Single Item -->
      <div class="col-md-3 col-sm-4  equal-height">
        <div class="item">
          <i class="lnr lnr-construction"></i>
          <h4 class="product-title">Business & Industrial</h4>
          <p>
            tittle..
          </p>
        </div>
      </div>
      <!-- End Single Item -->
    </div>
  </div>
</section>


<div class="row mb-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <i class="float-left mr-3 fa-3x fa fa-truck"></i>
            <p class="h5">Free shipping & Return <br /><small class="text-muted">For all orders over $500</small></p>
          </div>
          <div class="col-md-3">
            <i class="float-left mr-3 fa-3x fa fa-thumbs-up"></i>
            <p class="h5">Customer Protection <br /><small class="text-muted">From click to delivery.</small></p>
          </div>
          <div class="col-md-3">
            <i class="float-left mr-3 fa-3x fa fa-umbrella"></i>
            <p class="h5">Safe Payment <br /><small class="text-muted">Use world’s most secure payment methods.</small>
            </p>
          </div>
          <div class="col-md-3">
            <i class="float-left mr-3 fa-3x fa fa-life-ring"></i>
            <p class="h5">Support 24/7 <br /><small class="text-muted">We answer for question all time</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
