<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/images/logo1.png" style="height:108px; width:40px" alt="terubet logo">
            </a>
            </div>
        </div>
</nav>

<br><br>

<section class="section has-background-white-bis" style="margin-bottom:-30px">

    <div class="columns is-centered">
        <div class="column is-8-tablet is-6-desktop is-4-widescreen">
            <div class="box">
                <div class="card-content">
                    <div class="form-signin">
                    <div [formGroup]='login_form'>
                     <input type="hidden" name="_csrf_token" value="O5D2RfFTugmFIUAMDvKU3DRyuZIOU6raV-eVG2brIvs">
                      <h2 class="title has-text-centered is-size-3">Terubet.com <br> login</h2>

                      <div class="field" >
                            <label class="label" for="usr">Email address</label>
                            <div class="control">
                                <input class="input" formControlName="email" type="text" id="usr" required="required" placeholder="E-mail">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="pwd">Password</label>
                            <input class="input" formControlName="password" type="password" id="pwd"  required="required" placeholder="Password">
                        </div>
                    </div>
                        <app-notification message = "message" ></app-notification><br>
                        <div class="field">
                            <!-- <button class="button is-medium is-primary is-fullwidth" type="submit" (click)="login()" value="Login">Log in</button> -->
                        <input [disabled]="login_form.invalid" type="button" class="button is-medium is-primary is-fullwidth" (click)="login()" value="Login">
                          </div>
                          <div class="field has-text-centered">
                            <a href="forgetpassword" class="text-muted">Forgot password?</a>
                            <small class="text-muted mx-1 d-none d-md-inline">&nbsp;|&nbsp;</small>
                            <a href="/signup" class="text-muted d-block d-md-inline mt-2">Create an account</a>
                        </div>
                          </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer">
    <div class="content has-text-centered">

        <div class="footer-links">
            <a href="#" class="text-muted d-block d-md-inline mt-2" target="_blank" rel="noopener">Terms</a>
            <small class="text-muted mx-1 d-none d-md-inline">&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</small>
            <a href="#" class="text-muted d-block d-md-inline mt-2" target="_blank" rel="noopener">Privacy Policy</a>
            <small class="text-muted mx-1 d-none d-md-inline">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</small>
            <a href="#" class="text-muted d-block d-md-inline mt-2">Licenses</a>
            <small class="text-muted mx-1 d-none d-md-inline">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</small>
            <a href="#" class="text-muted d-block d-md-inline mt-2" target="_blank">Support</a>
        </div>
        <p>© 2020 Terubet.com . All rights reserved.</p>
        <small>powered by <a href="https://shuffle.dev" title="Visual Editor as a Service" target="_blank">Terubet.dev</a>.</small>

    </div>
</footer>
